version: "3.9"

networks:
  asp-microservice:
    driver: bridge

services:
  api:
    container_name: asp-microservice-api
    image: microservice_api:test_0
    build:
      context: .
      dockerfile: asp.Microservice/Dockerfile
    environment:
      ASPNETCORE_URLS: "http://+:80"
      ASPNETCORE_ENVIRONMENT: "Development"
      ConnectionStrings__Database: "User ID=postgres;Password=Str0ngPass!;Host=db;Port=5432;Database=database;Timeout=10;Pooling=true;"
    ports:
      - "5131:80"
    networks:
      - asp-microservice
    depends_on:
      - db

  db:
    image: postgres:latest
    container_name: asp-microservice-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Str0ngPass!
      POSTGRES_DB: database
      POSTGRES_ADMIN_PASSWORD: Str0ngPass!
    ports:
      - "5435:5432"
    networks:
      - asp-microservice

  cache.server:
    image: 'redis:7.0-alpine'
    container_name: asp-microservice-cache-server
    ports:
      - "6381:6379"
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    networks:
      - asp-microservice